{% extends "base.html" %}
{% load leaflet_tags %}
{% load static %}

{% block content %}
        <div class="container px-5">
          <h2>Species in season</h2>
          <ul>
            {% for a in records.second %}
              <li>
                {{ a.common_name }}
              </li>
            {% endfor %}
          </ul>
        </div>
        <div class="container px-5">
          <h2>Recent records</h2>
          <ul>
            {% for b in records.first %}
              <li>
                {{ b.species }}
              </li>
            {% endfor %}
          </ul>
        </div>
{% endblock %}