<!-- templates/registration/login.html -->
{% extends "base.html" %}
{% load leaflet_tags %}
{% load static %}

{% block title %}{{ record }}{% endblock %}
{% block head %}
    {% leaflet_js %}
    {% leaflet_css %}
{% endblock %}
{% block content %}
<div class="container">
<ul style="list-style: none">
    <li>{{ record.species }}</li>
    <li>{{ record.user }}</li>
    <li>{{ record.date }}</li>
    <li>{{ record.notes }}</li>
    {{ data|json_script:"records-data" }}
    <div id="map"></div>
    <script src="{% static 'map.js' %}"></script>
    {% for imagerecord in record.record_images.all %} 
    <li><img src="{{ imagerecord.image.url }}" style="max-width: 100px;" class="img-thumbnail"></li>
    <li>{{ imagerecord.default }}</li>
    
    

    {% endfor %}


<form method="POST" action="{% url 'record-delete' record.pk %}">
    {% csrf_token %}
    <button class="deletebtn show-form-delete" type="submit" value="DELETE" onclick="return confirm('Are you sure do you want to delete {{record.name}}')">
        <i class="fa fa-trash-o"></i>
        Delete</button>
    </form>
    
    
</ul>
</div>
{% endblock %}